<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Data Driven Basics" preserve-order="true">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="listeners.CustomListeners"/> 
	</listeners>

	<test name="Test">
		<classes>
			<class name="basepackage.TestBase" />
		</classes>
	</test>

	<test name="Bank Manager Test">
		<classes>
			<class name="testCases.BankManagerLoginTest" />
		</classes>
	</test>

	<test name="Add Customer Test">
		<classes>
			<class name="testCases.AddCustomerTest" />
		</classes>
	</test>
	<test name="Open Account Test">
		<classes>
			<class name="testCases.OpenAccountTest" />
		</classes>
	</test>

</suite> <!-- Suite -->

  
